$flag-height: 200px;

#flag_frame {
  height: $flag-height;
  width: $flag-height * 5;
  background-color: #fff;
}

#flag {
  width: 100%;
  height: 100%;
}

#starcell {
  background-color: #3c3b6e;
  height: $flag-height / 13;
  width: $flag-height * 3 / 16 * 9;
  vertical-align: top;
}

#stars {
  font-size: $flag-height / 9;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
}

.red_stripe {
  height: $flag-height / 4.6;
  background-color: #b22234;
}

.white_stripe {
  height: $flag-height / 4.6;
  background-color: white;
}